.black{
    background-color: black;
    width:30px;
    height: 100px;
    margin-left:40px;
}
.traffic{
    background-color: black;
    border-radius: 10%;
    width:110px;
    text-align: center;
    height: 280px;
    padding: 15px;
}
.light {
    width:80px;
    height: 80px;
    border-radius: 50%;
    margin: 1px;
    background-color: red;

}
.red{
    background-color: red;
}
.yellow{
    background-color: yellow;
}
.green{
    background-color: green;
}